<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
<body>

<div class="flex relative h-screen items-center justify-center bg-slate-100">

    <div class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,var(--color-indigo-100),white)] opacity-20">
    </div>
    <div class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white ring-1 shadow-xl shadow-indigo-600/10 ring-indigo-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center">
    </div>

    <div class="w-full max-w-md rounded-lg bg-white px-8 py-10 shadow-lg shadow-sm">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto size-24 w-auto" src="/images/auth-logo.png" alt="Your Company">
            <h2 class="text-center text-2xl font-bold tracking-tight text-gray-900">Admin Login</h2>
        </div>

        <!-- Display error messages for invalid login -->
        <div th:if="${param.error}" class="mt-4 text-red-500 text-sm text-center">
            Invalid username or password. Please try again.
        </div>

        <!-- Display success message for logout -->
        <div th:if="${param.logout}" class="mt-4 text-green-500 text-sm text-center">
            You have been logged out successfully.
        </div>

        <!-- Display success message after registration -->
        <div th:if="${success}" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded mb-4">
            <p>Registration successful! Please log in.</p>
        </div>


        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-6" th:action="@{/admin/login}" method="POST">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <div>
                    <label for="username" class="block text-sm font-medium text-gray-900">Email</label>
                    <div class="mt-2">
                        <input type="email" name="username" id="username" autocomplete="username" required
                               class="block w-full rounded-lg border border-gray-300 bg-white px-4 py-2 text-gray-900 placeholder:text-gray-400 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                    </div>
                </div>

                <div>
                    <div class="flex items-center justify-between">
                        <label for="password" class="block text-sm font-medium text-gray-900">Password</label>
                    </div>
                    <div class="mt-2">
                        <input type="password" name="password" id="password" autocomplete="current-password"
                               required
                               class="block w-full rounded-lg border border-gray-300 bg-white px-4 py-2 text-gray-900 placeholder:text-gray-400 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                    </div>
                </div>

                <div>
                    <button type="submit"
                            class="flex w-full cursor-pointer justify-center rounded-lg bg-indigo-600 px-4 py-2 text-sm font-semibold text-white shadow hover:bg-indigo-500 focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                        Sign in
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
</body>

</html>
