<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body>
    <div th:replace="fragments/navbar :: nav"></div>
    <div class=" flex relative h-screen items-center justify-center bg-slate-100">
        <div
            class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,var(--color-indigo-100),white)] opacity-20">
        </div>
        <div
            class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white ring-1 shadow-xl shadow-indigo-600/10 ring-indigo-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center">
        </div>
        <div class="w-full max-w-md rounded-lg bg-white  shadow-lg shadow-sm px-8 py-10 shadow-lg">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <img class="mx-auto size-24 w-auto" src="/images/auth-logo.png" alt="Your Company">
                <h2 class=" text-center text-2xl font-bold tracking-tight text-gray-900">Forgot Password</h2>
            </div>

            <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-sm">
                <form class="space-y-6" action="#" method="POST">
                    <div>
                        <label for="email" class="block text-sm font-medium text-gray-900">Email address</label>
                        <div class="mt-2">
                            <input type="email" name="email" id="email" required
                                class="block w-full rounded-lg border border-gray-300 bg-white px-4 py-2 text-gray-900 placeholder:text-gray-400 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                        </div>
                    </div>

                    <div>
                        <button type="submit"
                            class="flex w-full cursor-pointer justify-center rounded-lg bg-indigo-600 px-4 py-2 text-sm font-semibold text-white shadow hover:bg-indigo-500 focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Reset
                            Password</button>
                    </div>
                </form>

                <p class="mt-6 text-center text-sm text-gray-500">
                    Remembered your password?
                    <a href="/auth/login"
                        class="font-semibold text-indigo-600 hover:text-indigo-500 hover:underline hover:underline-offset-4">Sign
                        in</a>
                </p>
            </div>
        </div>
    </div>
</body>

</html>