<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master-layout-user}">
<body>
<!-- Content Fragment -->
<div layout:fragment="content">
    <div class="mb-6 flex flex-col md:flex-row justify-between items-start md:items-center space-y-4 md:space-y-0">
        <h2 class="text-2xl font-bold text-gray-800">Overview</h2>
    </div>
</div>

<!-- Extra Scripts Fragment -->
<div layout:fragment="extraScripts">

</div>
</body>
</html>
